#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;  /* (656*100)/ 1280 (altura total) */

    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;
    padding: 4rem;

    & .main-container {
        max-width: 33rem;
        margin-left: auto;
    }
}

aside {
    background-color: var(--surface-secondary);
    padding: 4rem;

    & .aside-container {
        max-width: 31rem;
    }
}