.desktop-only {
    display: none;
}

.mobile-only {
    display: initial;
}

@media (width >= 80em) {
    .container {
        --max-width: 80rem;
    }

    .desktop-only {
        display: initial;
    }

    .mobile-only {
        display: none;
    }
}